* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin-bottom: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav a {
  text-decoration: none;
  color: white;
}
nav a:hover {
  text-decoration: underline;
}
nav {
  background-color: black;
  padding: 20px;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav ul li {
  list-style-type: none;
}

#app {
  padding: 20px;
}
#app h1 {
  font-size: xx-large;
}
#app .btn {
  margin-top: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 20px;
  background-color: #90ee90;
  border-radius: 25px;
  transition-background-color: 0.4s ease-in-out;
}
#app .btn:hover {
  cursor: pointer;
  background-color: #65a965;
}
